@import '../../../custom-style.scss';

.food-element {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 100px;
    margin-bottom: 30px;
    border-bottom: 2px solid $primary;


    img {
        width: 150px;
        height: 150px;
        border: 5px solid $primary;
    }
    .food-details {
        padding: 10px 25px;
        padding-bottom: 0;
        height: 150px;
        width: 85%;
        h4 {
            font-weight: 700;
            letter-spacing: 1.3px;

        }
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            padding-top: 5px;
            margin: 0;
            height: 70px;
            overflow: hidden;
        }
        .feature {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .time, .serve {
                @extend .center-center;
                justify-content: flex-start;
                padding-right: 50px;
                p {
                    @extend .center-center;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 0 10px;
                    height: 30px;
                }
                .fas {
                    color: $secondary;
                }
            }
        }
    }
    .price {
        width: 15%;
        font-size: 20px;
        font-weight: 700;
        text-align: end;
    }
    @media screen and (max-width: 992px) {
        margin-right:75px;
        margin-left: 75px;
        img {
            width: 120px;
            height: 120px;
        }
        .food-details {
            height: 120px;
            width: 80%;
            border: 1px solid red;
            h4 {
                font-size: 20px;
                margin: 0;
            }
            p {
                font-size: 12px;
                height: 57px;
            }
            .feature {   
                border: 1px solid blue; 
                .time, .serve {
                    padding-right: 25px;
                    p {
                        height: 25px;
                        border: 1px solid green;
                    }
                }
            }
        }
        .price {
            width: 20%;
        } 
    }
    @media screen and (max-width: 767px) {
        margin-right:0;
        margin-left: 0;
    }
    @media screen and (max-width: 575px) {
        margin-right:0;
        margin-left: 0;
        img {
            width: 100px;
            height: 100px;
        }
        .food-details {
            height: 100px;
            width: 80%;
            border: 1px solid red;
            h4 {
                font-size: 18px;
            }
            p {
                font-size: 11px;
                height: 40px;
            }
        } 
    }
}